@import 'tailwindcss';

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/static/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/static/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-regal-blue-50: #f2f7fd;
  --color-regal-blue-100: #e4edfa;
  --color-regal-blue-200: #c4dbf3;
  --color-regal-blue-300: #8fbeea;
  --color-regal-blue-400: #549bdc;
  --color-regal-blue-500: #2d7fca;
  --color-regal-blue-600: #1e64ab;
  --color-regal-blue-700: #1a4f8a;
  --color-regal-blue-800: #194573;
  --color-regal-blue-900: #1c3f67;
  --color-regal-blue-950: #112540;
}

body {
  font-family: 'Roboto', sans-serif;
}
